/* main section */
.content {
    margin-top: 40px;
}

/* 3 card animation */
.slide-i {
    width: 20%;
    min-width: 250px;
    height: 440px;
    box-shadow: 5px 5px 5px rgb(90, 80, 80);
    margin: 1px auto;
    position: relative;
    overflow: hidden;
}

.slide-i img {
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
}

/* links */
.sites {
    margin-top: 40px;
}

.row1 {
    display: flex;
    justify-content: space-evenly;
}

.link {
    height: 60px;
    width: 40vw;
    background-color: #223030;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
    outline: 1px solid #959d90;
    border-radius: 12px 4px;
    outline-offset: -7px;
    transition: all 0.3s;
}

.link:hover {
    background-color: #385050;
    outline-offset: -2px;
}

/* frame */
.f-name {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    color: #223030;
    font-size: 23px;
}

.frame {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.f-size1,
.f-size2 {

    border: 10px ridge #0f0f0e;
    margin-bottom: 23px;
}

.f-size1 {
    height: 240px;
    width: 150px;
}

.f-size2 {
    height: 130px;
    width: 240px;
}

.file-if {
    display: none;
}

.f-size1 img,
.f-size2 img {
    height: 100%;
    width: 100%;
    background-color: #cedce7a4;
    outline: 2px solid #a5a5a5;
}

.select-opt {
    display: flex;
    justify-content: center;
}

.f-select {
    
    width: 70%;
}
.f-select label{
color: white;
    background-color: #385050;
    font-size: 25px;
    margin: 12px 0px;
    padding: 5px 0px;
    outline: 1px solid #959d90;
    border-radius: 12px 4px;
    outline-offset: -7px;
    display: flex;
    justify-content: center;
}
/* frame site  */
.f-site{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px;
}
/* pricing */
.d-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-container table {
    width: 90%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.d-container table th {
    background-color: #223030;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0px;
    color: #ffffff;
    font-size: 19px;
    border: 1px solid #f9f3f3;
}

.d-container table tr {
    background-color: #f9f9f9;
}

.d-container table td {
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0px;
    border: 1px solid #ccc;
}

.d-container tr:nth-child(even) {
    background-color: #e5e5e5;
}

.d-container tr:hover {
    background-color: #cecece;
}